@media screen and (max-width: 1238px) {
    .name {
        display: none;
    }
    .large-text {
        font-size: 2.5rem;
    }
    .small-text {
        font-size: 1rem;
    }
    .links {
        display: none;
    }
    .contacts button {
        margin-inline: 0.5em;
    }
    .contact-link {
        margin: 0.5em;
    }
}

@media screen and (max-width: 896px) {
    .options {
        display: flex;
        flex-direction: column;
    }
    .profile-img {
        display: none;
    }
    #about, #education, #projects, #contact {
        padding-top: 5vh;
        overflow-x: hidden;
    }
    .about .right-about {
        display: none;
    }
    .container {
        flex-direction: column;
    }
    .project-even {
        margin-left: 0em;
    }
    .project .right-part {
        display: none
    }
    .left-part, .right-part {
        width: auto;
    }
    .contacts {
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
}

@media screen and (max-width: 703px) {
    .nav-media {
        top: 0;
        right: auto;
        left: auto;
        justify-content: center;
        align-items: center;
    }
    #about, #education, #projects, #contact {
        padding-top: 15vh;
    }
    .profile {
        padding: 3rem;
        padding-block: 5rem;
    }
    .left-about {
        width: 70%;
    }
    .edu-container {
        flex-direction: column;
        padding-inline: 3rem;
    }
    .edu-box {
        width: 90%;
    }
    .options {
        align-items: center;
        justify-content: center;
    }
    .options a {
        margin: 0;
        margin: 0.3rem;
    }
    .contacts::before, .contacts::after {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .intro {
        font-size: 2rem;
    }
    .intro b {
        font-size: 3rem;
    }
    button {
        font-size: 1rem;
    }
    .proj {
        height: 50vw;
    }
    #home, #about, #education, #projects {
        padding-inline: 1em;
        overflow-x: hidden;
    }
    #contact {
        border-radius: 20px;
    }
    .left-about {
        width: 80vw;
    }
    .edu-box {
        width: 80vw;
    }
}